<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
           <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                   <a class="btn btn-link" href="{% url 'djangoapp:get_about' %}">About Us</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                   <a class="btn btn-link" href="{% url 'djangoapp:get_contact_us' %}">Contact Us</a>
               </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!--Add review form here -->
    <br>
    
    <form id="addreview_form" method="post"  action="{% url 'djangoapp:add_review' dealer_id  %}">
        <div class="container">
            <h2>Add a review about:{{dealer.full_name}} </h2>
            <div class="container">
                <label for="content"> Enter the review content</label>
                <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
            </div> 
            <div class="container"> 
                <label>Has purchased the car from {{dealer.full_name}}?</label>
                <br/>
                <input class="form-check-input" type="checkbox"  name="purchasecheck" id="purchasecheck"/>
                <br/>
            </div>
            <div class="container"> 
                <label for="car"> Select your car model (model-make-year)</label>
                <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                    <option selected value={{car.id}}>{{car}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="container"> 
                <label for="purchasedate"> Select your purchase date</label>
                <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
            </div>
            <div>
                  {% csrf_token %}
                 <button class="btn btn-primary" type="submit">Submit</button>
            </div>  
    </div>
    </form>
    </body>
    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>
</html>